{% extends 'base.html' %} 
{% block content %}
<div class="home__playlists">
    {% for group in groups %}

        <div class="playlist mb-5">
            <h3 class="title">{{group.type}}</h3>
            <hr />

            {% for dog in group.dogs.all %}
                <div class="song">
                    <span>{{forloop.counter}}</span>
                    <span class='group-color'><b><a  href="{% url 'dog_detail' dog.pk %}">{{dog.breed}}</a></b></span>
                    <span>
                        <!--   Here we are creating an anchor
                        tag that when clicked will hit our new
                        route and send a query to remove the song     -->
                        <a href="{% url 'group_dog_assoc' group.pk dog.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        </a>
                    </span>
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="playlist mb-5">"There are no dogs in this Group"</div>
    {% endfor %}
</div>
{% endblock %}